.input-group {
    border: 1px solid rgb(19, 7, 7)
}
    

.input-group > *,
  .input-group > .input,
  .input-group > .textarea,
  .input-group   {
    border-radius: 0px !important;
    border: 0
    
}
.input-group .input{
  width: 100%;
  border-radius: 10px;
  
}
.coupon{
  border: 1px solid #666666;
  padding: 3px;
  border-radius: 10px;
}
.apply-button{
  border-radius: 10px !important;
  color: white;
  
  background-color: #3D419F  !important;
}
.payment-logo{
position: 20px;
height: 4rem;
width: 40%;
}
.dashed-line {
    border: 2px dashed #CACACA;
  }