.gs {
    border-radius: 12px;
    padding: 16px 32px 16px 32px;
    background-color: #3D419F;
}

.su{
    border-radius: 10px;
    padding: 8px 23px 8px 23px;
    border: 1px solid #3D419F;
    transition: all linear .3s;
}

.su:hover{
    box-shadow: 0px 2px 8px rgba(61, 65, 159, 0.15), 0px 15px 40px rgba(61, 65, 159, 0.4);
}

.login{
border-radius: 10px;
padding: 8px 32px 8px 32px;
border: 1px solid #3D419F;
transition: all linear .3s;
}

.login:hover{
    box-shadow: 0px 2px 8px rgba(61, 65, 159, 0.15), 0px 15px 40px rgba(61, 65, 159, 0.4);
}