.gs {
    border-radius: 12px;
    padding: 16px 32px 16px 32px;
    background-color: #3D419F;
}


.login{

border-radius: 10px;
padding: 8px 32px 8px 32px;
border: 1px solid #3D419F;

}
.drawer-toggle ~ .drawer-side > .drawer-overlay {
    visibility: hidden;
    grid-column-start: 1;
    grid-row-start: 1;
    opacity: 0;
    cursor: pointer;
    --tw-bg-opacity: 1;
    background-color: hsla(0, 0%, 0%, 0.8);
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}