.custom_shadow{
    box-shadow: 0px 8px 30px rgba(61, 65, 159, 0.1);
}

.progress_color{
    color: #3D419F;
}

.bs{
  border-radius: 12px;
  padding: 16px 32px 16px 32px;
  background-color: #3D419F;
}
.bs_sm{
  border-radius: 12px;
  padding: 10px 18px 10px 18px;
  background-color: #3D419F;
}

@media only screen and (max-width: 600px) {
    .custom_shadow {
      box-shadow: none;
    }
  }