.custom_shadow {
    box-shadow: 0px 4px 20px #E7E7FF;
    border-radius: 24px;
}

.countdown>*:before {
    top: calc(var(--value) * -36px)
}

@media only screen and (max-width: 600px) {
    .custom_shadow {
        box-shadow: 0px 10px 40px rgba(61, 65, 159, 0.15);
        border-radius: 20px;
    }
}