.pricing-card {
    
    border-radius: 10px;
    padding: 24px 0px 24px 0px;
    background-color: white;
    border: 1px solid #C3C4E1;
    transition: all linear .3s;
}


.pricing-card-button {
    height: 48px;
    width: 150px;
    border-radius: 10px;
    padding: 12px 24px 12px 24px;
    background-color: white;
    border: 1px solid #666666;
    color: #666666;
}

.pricing-card:hover{
    background-color: #3D419F;
    color:white;
}
.pricing-card:hover .price-category{
    color: white;
}
.pricing-card:hover ul {
    color: white;
}
.pricing-card:hover button{
    color: #3D419F;
}
