.pwd-container {
  position: relative;

}

/* .pwd-container input {
  padding: 5px 30px 5px 10px;
  font-size: 20px;
} */

.pwd-container img {
  cursor: pointer;
  position: absolute;
  width: 20px;
  right: 8px;
  top: 8px;
}

.pad {
  padding: 16px 0px 16px 20px;
  border: 1px solid #666666;
  border-radius: 12px;
}

input:checked+div {
  @apply border-[#4044A0];
}

input:checked+div svg {
  @apply block;
}

.log {
  background: #3D419F;
  border-radius: 10px;
  padding: 12px 111px;
}

@media only screen and (min-width: 992px) {

  .bg {
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('../../assest/bg-img/login.png');
  }

}