.free-courses:hover {
    box-shadow: 0px 20px 50px 10px rgba(51, 51, 153, 0.25);
}

.free-courses-text {
    border: 1px solid #ECECF5;
    border-radius: 0px 0px 10px 10px;
}

.free-courses:hover .free-courses-text {
    border-left: 1.5px solid #3D419F;
    border-right: 1.5px solid #3D419F;
    border-bottom: 1.5px solid #3D149F;
}