
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

.poppins{
    font-family: 'Poppins', sans-serif;
}

.gs{
    border-radius: 12px;
    padding: 16px 32px 16px 32px;
    background-color: #3D419F;
}

.gs_sm{
    border-radius: 12px;
    padding: 12px 20px 12px 20px;
    background-color: #3D419F;
}


.line {
    border-left: 4px solid #282B6B;
    height: 63px;
}
.text{
    color: #282B6B;
}
.text2{
    color: #777777;
}