.sumu {
    margin-top: 40px;
}

.slick-slide {
    height: 280px;
}

.slick-slide>div {
    margin: 0 10px;
}

<<<<<<< HEAD
/* .slick-list {
    margin: 0;
} */
=======
>>>>>>> 8082c2f1b24b8dfd3d1bc88e11d37cc61afa1c26
